/* General Styling */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "gothamBook", sans-serif;
    
}

a {
    color: black;
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.menu {
    margin: 20px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    
}

.menu li {
    font-size: 16px;
    font-weight: 900;
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
    list-style: none;
    font-weight: bold;
}
.logo {
    background-image: url("teslaLogo.svg");
    background-repeat: no-repeat;
    filter: invert(0);
    width: 100px;
    height: 23px;
    
}
.leftNav {
    margin: 2.5px 0px 0px 10px;
}
.leftNav,
.middleNav,
.rightNav {
    display: flex;
    
}
.middleNav {
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}
.rightNav {
    text-align: right;
}

/* Mobile Menu */

/* Font Faces */
@font-face {
    font-family: "gothamBook";
    src: url("gothamBookRegular.otf") format("opentype");
}