/* General Styling */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "gothamBook", sans-serif;
}

/* Backgrounds */
.heroBackground {
    background-image: url("fullBack.jpg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    height: 100vh;
}

.fullBack2 {
    background-image: url("fullBack2.jpg")
}

.fullBackVideo {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    min-height: 851px;
    margin: 0;
    padding: 0;
}

.fullBack3 {
    background-image: url("fullBack3.jpg")
}

.fullBack4 {
    background-image: url("fullBack4.jpg")
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

a.navText:hover {
    color: #a2a3a5;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.arrowDisclaimerContainer {
    display: flex;
    justify-content: center;
    height: 99vh;
    align-items: flex-end;
}

.firstParent {
    height: 77vh;
}

.fa-chevron-down {
    filter: invert(100);
    font-size: 28px;
    opacity: 1;
}

.fa-times {
    filter: invert(100);
    opacity: 1;
}

@media only screen and (max-width: 900px) {
    .arrowDisclaimerContainer {
        display: none;
    }
}

/* Menuing */
.menu {
    margin: 0px 15px 15px 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li {
    font-size: 15px;
    font-weight: 900;
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
    list-style: none;
    font-weight: bold;
}

.logo {
    background-image: url("teslaLogo.svg");
    background-repeat: no-repeat;
    filter: invert(100);
    width: 100px;
    height: 23px;
}

.leftNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 2.5px 0px 0px 10px;
}

.leftNav,
.middleNav,
.rightNav {
    display: flex;

}

.middleNav {

    text-align: center;

}

.rightShopSignInNav {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 900px) {
    .middleNav {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .rightShopSignInNav {
        display: none;
    }
}

/* Side Nav */
.leftSideNav {
    position: fixed;
    top: 35%;
    margin: 0px 0px 0px 15px;
}

.leftSideNav li {
    cursor: pointer;
    color: white;
    opacity: 0.5;
    margin: 5px 0px 5px 0px;
    padding: 3px 0px 3px 6px;
    border-left-color: rgb(208, 209, 210);
    border-left-width: 4px;
    border-left-style: solid;
    font-size: 12px;
}

.leftSideNav li:hover {
    opacity: 1;
}

@media only screen and (max-width: 900px) {
    .leftSideNav {
        display: none;
    }
}

/* Hamburger */
.hamburgerMenuContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -60px;
}

.hamburgerMenu {
    position: absolute;
    right: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
    background-color: white;
    height: 100vh;
}

.hamburgerMenu::-webkit-scrollbar {
    width: 0 !important
}

.hamburgerMenu {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.hamburgerMenuIconOpen {
    text-align: right;
    padding: 20px 15px 0px 0px;
    list-style-type: none;
}

.hamburgerMenuIcon {
    z-index: 999;
    background-color: black;
}

.closedMenuBars {
    color: black;
    text-decoration: none;
}

.sideNavText {
    margin: 10px 20px 10px 20px;
    padding: 20px 100px 20px 20px;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-bottom-color: rgb(208, 209, 210);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: white;
}

.sideNavText:first-of-type {
    margin-top: 20px;
}

.sideNavText:last-of-type {
    margin-bottom: 20px;
}

/* Scroll to Top Button */


/* Main Body */
.callToActionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 28px;
}
@media only screen and (max-width: 650px) {
    .buttonTextContainer {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 55vh;
    }
}
.buttonContainer button {
    background-color: #fff;
    margin: 8px 0px 8px 0px;
    padding: 5px 40px 5px 40px;
    min-width: 200px;
    width: 250px;
    border-color: #fff;
    border-bottom-color: #fff;
    border-width: 3px;
    border-radius: 100px;
    color: #171a20;
    line-height: 24px;
    font-size: 12px;
    font-weight: 400;
    font-family: "gothamBook";
    text-transform: uppercase;
    cursor: pointer;
}
.buttonContainer button:last-of-type {
    background-color: transparent;
    color: #fff;
    margin-left: 15px;
}

.topCaption {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.topCaption h1 {
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-weight: 750;
    text-align: center;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: white;
}

.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerNav li {
    color: black;
    margin: 40px 10px 0px 10px;
    font-size: 12px;
    text-align: center;
}


@media only screen and (max-width: 650px) {
    footer {
        height: 7rem;
    }

    .footerNav {
        flex-direction: column;
    }

    .footerNav li {
        margin: 15px 10px 15px 10px;
        font-size: 13px;
    }

    .footerNav li:nth-child(n+3):nth-child(-n+7) {
        margin: 0;
        display: none;
    }
}

/* Mobile Menu */





/* Animations */


/* Font Faces */
@font-face {
    font-family: "gothamBook";
    src: url("gothamBookRegular.otf") format("opentype");
}