/* General Styling */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "gothamBook", sans-serif;
}

/* Backgrounds */
.heroBackground {
    background-image: url("fullBack.jpg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 200% auto;
    height: 100vh;
}

@supports (background-image: url("fullBack.webp")) {
    .heroBackground {
        background: url("fullBack.webp");
        background-repeat: no-repeat;
        background-position: 50% 60%;
        background-size: 200% auto;
        height: 100vh;
    }
}

@media only screen and (max-width: 80em) {
    .heroBackground {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.fullBack2 {
    background-image: url("fullBack2.jpg");
    background-size: cover;
}

@supports (background-image: url("fullBack2.webp")) {
    .fullBack2 {
        background: url("fullBack2.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.fullBackVideo {
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    min-height: 851px;
    margin: 0;
    padding: 0;
}

.fullBack3 {
    background-image: url("fullBack3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@supports (background-image: url("fullBack3.webp")) {
    .fullBack3 {
        background: url("fullBack3.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.fullBack4 {
    background-image: url("fullBack4.jpg");
    background-size: cover;
}

@supports (background-image: url("fullBack4.webp")) {
    .fullBack4 {
        background: url("fullBack4.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

a.navText:hover {
    color: #a2a3a5;
}

a#tesla,
#power,
#accessories,
#modely {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    filter: invert(100);
    user-select: none;
}

.chevronDownA {
    color: #fff;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.arrowDisclaimerContainer {
    display: flex;
    justify-content: center;
    height: 79vh;
    align-items: flex-end;
}

.firstParent {
    height: 70vh;
}

.fa-chevron-down {
    font-size: 28px;
    opacity: 1;
}

.fa-times {
    filter: invert(100);
    opacity: 1;
}

@media only screen and (max-width: 915px) {
    .arrowDisclaimerContainer {
        display: none;
    }
}

/* Menuing */
.menu {
    margin: 0 10px 15px 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li {
    font-size: 15px;
    font-weight: 800;
    margin: 0 10px 0 10px;
    white-space: nowrap;
    list-style: none;
    text-align: center;
}

.logo {
    background-image: url("teslaLogo.svg");
    background-repeat: no-repeat;
    filter: invert(100);
    width: 100px;
    height: 23px;
}

.leftNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 2.5px 0 0 0;
}

.leftNav,
.middleNav,
.rightNav {
    user-select: none;
    display: flex;

}

.middleNav {

    text-align: center;

}

.rightShopSignInNav {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 915px) {
    .middleNav {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .rightShopSignInNav {
        display: none;
    }
}

/* Side Nav */
.leftSideNav {
    user-select: none;
    position: fixed;
    top: 35%;
    margin: 0 0 0 15px;
}

.leftSideNav li {
    cursor: pointer;
    color: white;
    opacity: 0.5;
    margin: 5px 0 5px 0;
    padding: 3px 0 3px 6px;
    border-left-color: rgb(208, 209, 210);
    border-left-width: 4px;
    border-left-style: solid;
    font-size: 12px;
}

.leftSideNav li:hover {
    opacity: 1;
}

@media only screen and (max-width: 915px) {
    .leftSideNav {
        display: none;
    }
}

/* Hamburger */
.hamburgerMenuContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -60px;
}

.hamburgerMenu {
    user-select: none;
    position: absolute;
    right: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: left;
    background-color: white;
    height: 100vh;
}

.hamburgerMenu::-webkit-scrollbar {
    width: 0;
}

.hamburgerMenu {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.hamburgerMenu a:nth-child(-n+7) {
    display: none;
}

@media only screen and (max-width: 915px) {
    .hamburgerMenu a:nth-child(-n+7) {
        display: inline-block;
    }
}

.hamburgerMenu a:nth-child(19) {
    display: none;
}

.hamburgerMenu a:nth-child(20) {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .hamburgerMenu a:nth-child(19) {
        display: inline-block;
    }

    .hamburgerMenu a:nth-child(20) {
        display: inline-block;
    }
}

.hamburgerMenuIconOpen {
    text-align: right;
    padding: 20px 15px 0 0;
    list-style-type: none;
}

.hamburgerMenuIcon {
    z-index: 999;
    background-color: black;
}

.closedMenuBars {
    color: black;
    text-decoration: none;
}

.sideNavText {
    margin: 10px 20px 10px 20px;
    padding: 20px 100px 20px 20px;
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-bottom-color: rgb(208, 209, 210);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: white;
}

.sideNavText:first-of-type {
    margin-top: 20px;
}

.sideNavText:last-of-type {
    margin-bottom: 20px;
}

/* Scroll to Top Button */


/* Main Body */
.callToActionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 28px;
}

@media only screen and (max-width: 650px) {
    .buttonTextContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 55vh;
    }
}

.buttonContainer button {
    background-color: #fff;
    margin: 8px 0 8px 0;
    padding: 5px 40px 5px 40px;
    min-width: 200px;
    width: 250px;
    border: 3px solid #ffffff;
    border-radius: 100px;
    color: #171a20;
    line-height: 24px;
    font-size: 12px;
    font-weight: 400;
    font-family: "gothamBook";
    text-transform: uppercase;
    cursor: pointer;
}

.buttonContainer button:last-of-type {
    background-color: transparent;
    color: #fff;
    margin-left: 15px;
}

.topCaption {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.topCaption h1 {
    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-weight: 750;
    text-align: center;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: white;
}

.footerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerNav li {
    color: black;
    margin: 40px 10px 0 10px;
    font-size: 12px;
    text-align: center;
}


@media only screen and (max-width: 650px) {
    footer {
        height: 7rem;
    }

    .footerNav {
        flex-direction: column;
    }

    .footerNav li {
        margin: 15px 10px 15px 10px;
        font-size: 13px;
    }

    .footerNav li:nth-child(n+3):nth-child(-n+7) {
        margin: 0;
        display: none;
    }
}

/* Mobile Menu */





/* Animations */


/* Font Faces */
@font-face {
    font-family: "gothamBook";
    src: url("gothamBookRegular.otf") format("opentype");
}